.footer {
    padding: 50px 0;
    text-align: center;
}

.footer__text {
}

.footer__caption {
    font-size: 1.7em;
    font-weight: bold;
    color: $gray;
}

.kek {
    margin-left: 10px;
}

.kek__icon {
    vertical-align: middle;
    font-size: 1.5em;
}

.footer__plus {
    font-size: 0.8em;
    color: $gray;
}