.container {

}

.maincontent {
    padding-top: 90px;
}

.maincontent__left {
    float: left;
    width: 34%;
    margin-right: 7.9%;
}

.maincontent__right {
    float: left;
    width: 58%;
}



/* logo styles */

.logo {
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-bottom: 40px;


    &::after {
        content: "";
        position: absolute;
            left: -14px;
            top: -14px;
        width: 225px;
        height: 225px;
        border: 1px solid $blue;
        border-radius: 50%;
    }

    &:hover {
        cursor: pointer;

            .logo__image  {
                transform: scale(1.13);
            }

    }
}

.logo__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: 300ms;
}

.text-container {
    line-height: 3em;
    word-wrap: break-word;
}

.logo__name {
    font-size: 3em;
    opacity: .7;
    text-transform: uppercase;
    font-weight: normal;
}

.logo__surname {
    font-size: 3.4em;
    text-transform: uppercase;
    font-weight: bold;
}

.logo__position {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}



.info {
    text-align: left;
    margin-bottom: 70px;
}

/* global caption styles */ 

.caption-container {    
    position: relative;
    width: 100%;
    margin-bottom: 20px;;
    min-height: 100px;
    display: flex;
    align-items: center;
    
    &:hover {
        
        .caption-image {
            transform: rotate(360deg);
        }

        .caption {
            transform: scale(1.1);
            cursor: default;
        }
    }
}

.caption-image {
    margin-right: 10px;
    transition: 1s;
}

.caption {
    color: $blue;
    font-size: 3.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
    max-width: 100%;
    word-wrap: break-word;
    transition: 500ms;
}

.caption-line {
    width: 100%;
    height: 10px;
    background: $blue;
}



/* profile styles */

.profile__text {
    font-size: 1.2em;
}



/* contacts styles */

.caption-container--contacts {
    margin-bottom: 50px;
}

.contacts__container {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.contacts__name {
    width: 30%;
    margin-right: 20%;
    font-weight: bold;
    color: $blue;
    word-wrap: break-word;
    text-transform: uppercase;
}

.contacts__information {
    width: 70%;
    word-break: break-all;
}



/* skills styles */

.skills__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    cursor: default;
}

.skills__caption {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.skills__circles {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: $lightgray;
    border-radius: 50%;

    &:last-child {
        margin-right: 0;
    }

    &--active {
        background: $blue;
    }

    &:hover {
        background: $blue;
    }
}



/* education styles */

.caption-container--education {
    margin-bottom: 30px;
}

.education__item {
    position: relative;
    width: 100%;
    padding-left: 70px;
    text-align: left;
    margin-bottom: 10px;

    &::before {
        content: "";
        position: absolute;
            top: 8px;
            left: 15px;
        width: 27px;
        height: 27px;
        background: #000000;
        border-radius: 50%;
    }
}

.education__caption {
    display: inline;
    font-size: 1.9em;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 15px;
    word-wrap: break-word;
}

.education__date {
    font-size: 1.9em;
    display: inline;

    &::before {
        content: "//";
        margin-right: 7px;
    }
}

.education__university {
    font-size: 1.9em;
    text-transform: uppercase;
}

.education__text {
    font-size: 1.2em;
}



/* experience styles */

.caption-container--experience {
    margin-bottom: 30px;
}

.education__caption--experience {
    color: #000000;
}



/* software styles */

.caption-container--software {
    margin-bottom: 30px;
}

.software__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

.software__item {
    margin-bottom: 20px;
    width: 40%;
}

.software__caption {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.software__rating {
    position: relative;
    width: 100%;
    height: 25px;
    background: $lightgray;

    &--ps {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 40%;
            height: 25px;
            background: $blue;
        }
    }

    &--il {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 20%;
            height: 25px;
            background: $blue;
        }
    }

    &--in {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 20%;
            height: 25px;
            background: $blue;
        }
    }

    &--pp {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 90%;
            height: 25px;
            background: $blue;
        }
    }

    &--ae {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 40%;
            height: 25px;
            background: $blue;
        }
    }

    &--verstka {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 75%;
            height: 25px;
            background: $blue;
        }
    }
}




    // MEDIA MEDIA MEDIA MEDIA MEDIA



@media screen and (min-width: 768px) and (max-width: 1217px) {
    .wrapper {
        position: relative; 
        margin: 0 auto;
        overflow: hidden;
        min-height: 100%;
        min-width: $container-width + 2%;
        max-width: 1217px;
        min-width: 768px;
    }

    .maincontent__left {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    
    .maincontent__right {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    
    .skills__circles {
        display: inline-block;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background: $lightgray;
        border-radius: 50%;
    
        &:last-child {
            margin-right: 0;
        }
    
        &--active {
            background: $blue;
        }
    
        &:hover {
            background: $blue;
        }
    }
}



@media screen and (min-width: 250px) and (max-width: 767px) {

    .wrapper {
        position: relative; 
        margin: 0 auto;
        overflow: hidden;
        min-height: 100%;
        min-width: $container-width + 2%;
        max-width: 767px;
        min-width: 250px;
    }
    
    .maincontent__left {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    
    .maincontent__right {
        float: none;
        width: 100%;
        margin: 0 auto;
    }



    // CAPTION STYLES
    .caption-container {
        position: relative;
        width: 100%;
        margin-bottom: 20px;;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {

            .caption-image {
                transform: rotate(360deg);
            }

            .caption {
                transform: scale(1.1);
                cursor: default;
            }
        }
    }

    .caption-image {
        margin-right: 10px;
        transition: 1s;
    }

    .caption {
        color: $blue;
        font-size: 3.2em;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 20px;
        max-width: 100%;
        word-wrap: break-word;
        transition: 500ms;
    }

    .caption-line {
        display: none;
    }


    // SKILLS STYLES
    .skills__container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
        cursor: default;
    }
    
    .skills__caption {
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    
    .skills__circles {
        display: inline-block;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        background: $lightgray;
        border-radius: 50%;
    
        &:last-child {
            margin-right: 0;
        }
    
        &--active {
            background: $blue;
        }
    
        &:hover {
            background: $blue;
        }
    }


    
// EDUCATION STYLES
 .education__item {
    position: relative;
    width: 100%;
    padding-left: 0;
    text-align: left;
    margin-bottom: 10px;

    &::before {
        display: none;
    }
}

.education__university {
    font-size: 1.9em;
    text-transform: uppercase;
    color: $blue;
}



// SOFTWARE STYLES
.caption-container--software {
    margin-bottom: 30px;
}

.software__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.software__item {
    margin-bottom: 20px;
    width: 90%;
}

.software__caption {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.software__rating {
    position: relative;
    width: 100%;
    height: 25px;
    background: $lightgray;

    &--ps {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 40%;
            height: 25px;
            background: $blue;
        }
    }

    &--il {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 20%;
            height: 25px;
            background: $blue;
        }
    }

    &--in {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 20%;
            height: 25px;
            background: $blue;
        }
    }

    &--pp {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 90%;
            height: 25px;
            background: $blue;
        }
    }

    &--ae {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 40%;
            height: 25px;
            background: $blue;
        }
    }

    &--verstka {

        &::after {
            content: "";
            position: absolute;
                top: 0;
                left: 0;
            width: 75%;
            height: 25px;
            background: $blue;
        }
    }
}
.caption-image {
    display: none;
}
}



