/* base vars */

$footer-height: 133px;
$container-width: 90%;


/* base styles */

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: 100% 'Myriad_Pro_Regular';
    line-height: 1.5;
    background: #fff;
}

.wrapper {
    position: relative; 
    margin: 0 auto;
    overflow: hidden;
    max-width: 1920px;
    min-width: 1200px;
}

.wrapper:after {
    content: "";
    display: block;
    height: $footer-height;
    overflow: hidden;
} 

.footer {
    position: relative;
    background: white;
    height: $footer-height;
    margin-top: -$footer-height;
    width: 100%;
    min-width: $container-width + 2%;
}

.container {
    width: $container-width;
    height: 100%;
    margin: 0 auto;
    @extend %clearfix !optional;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

p {
    margin: 0;
}